<div class="container">
  <h1>Single Recipe</h1>

  <%= link_to "Edit Recipe", edit_recipe_path %>

  <div>
    <%= image_tag @recipe.image.url, class: "max-width" %>
  </div>

  <h3>Like this recipe!</h3>
  <% if Like.exists?(user: current_user, recipe: @recipe) %>
    <i class="material-icons">favorite</i>
  <% else %>
    <%= link_to recipe_likes_path(@recipe), method: :post do %>
      <i class="material-icons">favorite_border</i>
    <% end %>
  <% end %>

  <div class="row"> 
    <div class="col s2">
      <h3>Ingredients</h3>
      <%= @recipe.ingredients %>
    </div>
  </div>

  <div class="row">
    <div class="col s8">
      <h3><%= @recipe.name %></h3>
    </div>
    <div class="col s8">
      <h3>About Recipe</h3>
      <%= @recipe.description %>
    </div>
    <div class="col s8">
      <h3>Instructions</h3>
      <%= @recipe.instructions %>
    </div>
  </div>

  <div class="row">
    <div class="col s2">
      <h3>Comments</h3>

      <%= form_for [@recipe, @comment] do |c| %>
        <% if @comment.errors.any? %>
          <div class="error_messages">
            <h2>Form is invalid</h2>
            <ul>
              <% for message in @comment.errors.full_messages %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="field">
          <%= c.label :content %>
          <%= c.text_field :content%>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit<i class="material-icons right">send</i>
        </button>

      <% end %>

      <p>
        <% @recipe.comments.each do |comment| %>
          <%= comment.content %>
        <% end %>
      </p>

    </div>
  </div>
</div>