<div class="container">
   <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-image">
            <%= image_tag @recipe.image.url, class: "max-width" %>
            <span class="card-title">
              <h3><%= @recipe.name %></h3>
              <div>
                <i class="small material-icons">create</i>
                <%= link_to "Edit Recipe", edit_recipe_path %>
              </div>

              <div> 
                <% like = Like.find_by(user: current_user, recipe: @recipe) %>
                  <% if like %>
                    <%= link_to like_path(like), method: :delete do%>
                      <i class="small material-icons">favorite</i>
                    <% end %>
                  <% else %>
                    <%= link_to recipe_likes_path(@recipe), method: :post do %>
                      <i class="small material-icons">favorite_border</i>
                    <% end %>
                  <% end %>
                <span>Like Recipe</span>
            </span>
          </div>
        </div>
      </div>
    <div>


  <div class="row">
    
    <div class="col s3">
      <h3>Ingredients</h3>
      <%= @recipe.ingredients %>
    </div>

    <div class="col s6">
      <div>
        <h3>About Recipe</h3>
        <%= @recipe.description %>
      </div>
      <div>
        <h3>Instructions</h3>
        <%= @recipe.instructions %>
      </div>
    </div>
    
    <div class="col s3">
      <h3>Comments</h3>
      <%= form_for [@recipe, @comment] do |c| %>
        <div class="field">
          <%= c.label :content %>
          <%= c.text_field :content%>
        </div>
        <button class="btn waves-effect waves-light validate" type="submit" name="action">Submit<i class="material-icons right">send</i>
        </button>
      <% end %>
      
      <% @recipe.comments.each do |c| %>
        <div><%= image_tag c.user.image.url(:thumb) %></div>
        <%= c.user.name %>
        <%= c.created_at.strftime("%m/%d/%y") %>
        <div><%= c.content %></div>
        <% if current_user == c.user %>
          <%= link_to comment_path(c), method: :delete do %>
            <div>Delete comment</div>
          <% end %>
        <% end %>
      <% end %>
  
    </div>  

  </div>
</div>