<img class="position-rel max-width" src="https://i.imgur.com/4WuU30p.jpg">
  <div class="container position-abs" id="login-new">
    <div class="container white-box">
      <div class="row">
        <div class="col s12">
          <h1 class="center-align fancify">Sign Up</h1>
          <span id="alert"><%= alert %></span>
          <%= form_for @user, html: {multipart: true} do |f| %>
            <% if @user.errors.any? %>
              <div class="error_messages">
                <h4>Form is invalid</h4>
                <ul>
                  <% for message in @user.errors.full_messages %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div class="field">
              <%= f.label :name %>
              <%= f.text_field :name %>
            </div>
            <div class="field">
              <%= f.label :location %>
              <%= f.text_field :location %>
            </div>
            <div class="field">
              <span>Upload your picture!</span>
              
              <%= f.file_field :image %>
            </div>
            <div class="field">
              <%= f.label :email %>
              <%= f.text_field :email %>
            </div>
            <div class="field">
              <%= f.label :password %>
              <%= f.password_field :password %>
            </div>
            <div class="field">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation %>
            </div>
            
            <button class="btn waves-effect waves-light red accent-1" type="submit" name="action">Create User
              <i class="material-icons right">send</i>
            </button>

          <% end %>
        </div>
      </div>
    </div>
  </div>