<div class="container">
  
  <div class="row">

    <div class="col s4">
        <h2>Profile</h2>
        <div class="col s12">
          <%= image_tag current_user.image.url(:medium), class: "max-width" %>
        </div>
        <div class="col s12">
          <p><%= current_user.name %></p>
          <p><%= current_user.location %></p>
        </div>
        <div class="col s12">
          <h5>Recipe &hearts;'s</h5>
        </div>
        <div class="col s12">
          <span>&hearts;</span>
        </div>

    </div>

      <div class="col s8">

        <div class="col s12">
          <h3>Your Recipes</h3>
          <%= link_to "View All", recipes_path %>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <%= link_to "Add New Recipe", new_recipe_path %>
        </div>
        <div class="col s12">

          <% if current_user.recipes.any? %>
            <% all_recipes = current_user.recipes.all %>
            <% random_recipe = all_recipes[rand(all_recipes.length)] %>
            
              <% for recipe in current_user.recipes %>

              <div class="card small">
                <div class="card-image max-width">
                  <%= image_tag random_recipe.image.url %>
                  <span class="card-title"><%= random_recipe.name %></span>
                </div>
                <div class="card-content">  
                  <%= random_recipe.description %>
                </div>
                <div class="card-action">
                  <%= link_to random_recipe.name, recipe_path(recipe) %>
                </div>
              </div>
            <% end %>
              
          <% else %>

            <p>You have no recipes yet!</p>

          <% end %>


            <div class="card small"></div>
            <div class="card small"></div>
        </div>
        <div class="col s12">
          <h3>Your Top 3 Recipes</h3>
        </div>
        <div class="col s12">
          <div class="card small"></div>
          <div class="card small"></div>
          <div class="card small"></div>
        </div>

      </div>
  </div>
</div>