<h1>User Profile</h1>

<div class="box one">
  <div class="row">
    <div class="col s3">
      <%= image_tag current_user.image %>

      <%= current_user.name %>
      <%= current_user.location %>
    
      <h5>Recipe &hearts;'s</h5>
    </div>
  </div>
</div>

<div class="box two">
  <div class="row">
    <div class="col s6">
      <%= link_to "View All", recipes_path %>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <%= link_to "Add New Recipe", new_recipe_path %>
    </div>
  <div>
  <div class="row">
    <div class="col s6">
      <p>Recipe thumbnails here</p>
    </div>
  </div>
</div>
